################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WebCache/obj
/WebCache/bin/Debug/net5.0
/Web.MQ/obj
/Web.MQ/bin/Debug/net5.0
/Web.Framework/obj
/Web.Framework/bin/Debug/net5.0
/Web.AutoFac/obj
/Web.AutoFac/bin/Debug/net5.0
/Web/obj
/Web/bin/Debug/net5.0
